<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
	<!-- {{#if success_msg}}
		<div class="alert alert-success">
			{{success_msg}}
		</div>
	{{/if}} -->

	<!-- {{#if error_msg}}
		<div class="alert alert-danger">
			{{error_msg}}
		</div>
	{{/if}} -->

	<!-- {{#if error}}
		<div class="alert alert-danger">
			{{error}}
		</div>
	{{/if}} -->

     {{{body}}}

</html>