<form action="/admin/upload_photo" method="POST" enctype="multipart/form-data">
	<input type="file" name="image" id="uploadData">
	<button type="submit" id="uploadphoto">submit</button>
</form>
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script>
	// $(document).ready(function(){
	// 	$('#uploadphoto').click(function(){
	// 		var data = {};
	// 		data.avatar = $('#uploadData').val();
	// 		console.log(data);
	// 	});
	// });
</script>